@model IEnumerable<HealthRecords.Models.Receipt>

@{
    ViewBag.Title = "ShowReceipts";
}

<div class="row" style="margin-top: 30px;">
    <div class="col-md-offset-3 col-md-8">
        <h2 style="color:rgba(243, 16, 171, 0.8); font-weight: 700; display:inline-block;">My Receipts</h2>

        <table class="table">
            <tr style="color: rgba(243, 16, 171, 0.8)">
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
          
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>

                </tr>
            }

        </table>
        </div>
    </div>
